.app__header {
  background-color: lighten($brand-secondary, 30);
  height: $header-height;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;

  > .app__container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: $grid-gutter-width / 2;
    padding-top: $grid-gutter-width / 2;
  }

  h1 {
    color: #000;
    flex-basis: 76%;
    font-size: 1.9rem;
    margin: 0;
    margin-left: $grid-gutter-width / 2;

    @include md {
      flex-basis: auto;
    }
  }

  &__logo {
    line-height: 1;

    .app__logo svg {
      width: 5rem;
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-start;
    line-height: 1;
    margin-bottom: 0;
    padding: 0;
    width: 100%;

    @include is-only {
      margin-top: $grid-gutter-width / 6;
      width: 100%;
    }

    li {
      &:not(:last-child) {
        align-items: center;
        display: flex;
        margin-right: $grid-gutter-width / 2;
      }

      &:last-child {
        display: flex;
        flex-grow: 2;
        justify-content: flex-end;
      }
    }

    a {
      font-size: 1.3rem;

      @include lg {
        font-size: 1.6rem;
      }
    }
  }

  &__link {
    color: #fff;

    &.is-active {
      color: $brand-primary;
      font-weight: 700;
      pointer-events: none;
    }
  }

  &__logout {
    span {
      margin-left: $grid-gutter-width / 6;
    }
  }
}
