.app {
  min-height: 100vh;

  &__main {
    min-height: 100vh;
    padding: (nth($header-height, 1) + $grid-gutter-width) 0 ($footer-height + $grid-gutter-width);

    @include md {
      padding-top: nth($header-height, 2);
    }

    @at-root .app--public & {
      padding: 0;
    }
  }

  &__route {
    padding-top: $grid-gutter-width;
  }

  &__container {
    @include app-container();

    margin: 0 auto;
  }
}
