.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__main {
    min-height: calc(100vh - #{$footer-height});
    padding-top: $header-height;
  }

  &__route {
    padding-top: $grid-gutter-width;
  }

  &__container {
    @include app-container();

    margin: 0 auto;
  }

  &__cancel {
    margin-top: $grid-gutter-width;
    text-align: center;
  }
}
