.app__home {
  padding: 0;

  &__intro .app__container {
    align-items: center;
    background-color: lighten($brand-secondary, 30);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

    h1 {
      color: #fff;
      font-size: $font-size-h3;
      line-height: 1.4;
      margin: 0 auto ($grid-gutter-width / 3);
      max-width: 52rem;
      text-align: center;

      @include sm {
        font-size: $font-size-h2;
      }
    }

    p {
      margin-bottom: $grid-gutter-width;
    }
  }

  &__header {
    margin-bottom: $grid-gutter-width;
    text-align: center;

    .app__logo {
      svg {
        width: 25rem;
      }
    }
  }

  &__libraries .app__container {
    padding-bottom: $grid-gutter-width;
    padding-top: $grid-gutter-width * 2;

    @include lg {
      padding-bottom: $grid-gutter-width * 2;
      padding-top: $grid-gutter-width * 2;
    }

    h2 {
      margin-bottom: $grid-gutter-width * 2;
      text-align: center;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;

      > li {
        width: percentage(1 / 2);

        @include md {
          width: percentage(1 / 3);
        }
      }
    }
  }

  &__library {
    display: flex;
    flex-direction: column;
    margin-bottom: $grid-gutter-width;
    text-align: center;

    &__image {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-bottom: $grid-gutter-width / 3;
      min-height: 10rem;

      svg {
        max-height: 10rem;
        width: 50%;
      }
    }
  }
}
