.app__private {
  h2 {
    margin-bottom: $grid-gutter-width;
  }

  &__repos {
    > div {
      margin-bottom: $grid-gutter-width / 3;

      a {
        font-size: $font-size-h5;
        margin-bottom: $grid-gutter-width / 6;
      }
    }
  }
}
