$media-path: '../../assets/media/';
$font-path: '../../assets/fonts/';

$header-height: 7rem;
$footer-height: 5.1rem;

$app-color: #764abc;
$app-color-alt: #fc6e84;

$app-easing: cubic-bezier(0.35, 0.01, 0.77, 0.34);
